
W-01/.vs/W-01/DesignTimeBuild/.dtbcache.v2
W-01/.vs/W-01/v17/.suo
W-01/W-01.Repository/obj/Debug/net6.0/W-01.Repository.csproj.AssemblyReference.cache
W-01/W-01.Service/obj/Debug/net6.0/W-01.Service.csproj.AssemblyReference.cache
W-01/W-01/obj/Debug/net6.0/W-01.csproj.AssemblyReference.cache
W-02/.vs/W-02/FileContentIndex/read.lock
W-02/.vs/W-02/FileContentIndex/fb6e8ed6-2226-4656-abe5-92b074d786f3.vsidx
